
html, body { 
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow-x: hidden;
  font-family: "roboto", sans-serif;
}

.hero-image {
  position: relative;
  height: 500px;
  /*overflow: hidden;*/
  background: url('https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1714&q=80')no repeat center';
  background-size: cover;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-weight:700;
  text-transform: uppercase;

}

.container h1 {
  font-size: 72px;
  letter-spacing: .2em;
  margin: 0;

}

.des {
  margin: 20px;
  display: block;
  font-size: 26px;
  text-shadow: 0 0 10px black;
}

.btn {
  color: #313131;
  padding: 10px 24px;
  font-size: 20px;
  text-decoration: none;
  background: #f1f1f1;
  border-radius: 8px;
}


.container h1 span {
  border: 10px solid white;
  padding: 6px 14px;
  display: inline-block;

}

.inline-block {
  display: inline-block;
  vertical-align: top;
  font-family: "roboto", sans-serif;
}

div.logo {
  width: 10%;
  padding: 1%;
}

.logo {
  text-align: center;
}

.logo img { vertical-align: middle;}

.heroimg {
  height: 1200px;
  padding: 60px 0;
}

.content {
 /* width: 500px; */
  padding: 20px;
  /* margin: 0 auto;
  text-align: center; */
}

nav {
  float: right;
    @media screen (max-width:600px){
    display:block;
    font-size:5px;
  }
}

nav ul {
  vertical-align: middle;
}

nav li {
  padding: 20px;
  color: #ffffff;

}

footer li {
  padding: 20px;
  color: #ffffff;
}

ul {
  width: 100%;
  margin-left: auto;
}

header {
  background-color: #74747b;
  width: 100%;
  height: auto;
}

.custom-block {
  border: 1px solid blue;
  margin: 20px 0;
}

.center-this-guy {
  text-align: center;
}

footer {
  background-color: #74747b;
  width: 100%;
}
footer ul {
  vertical-align: top;
  
}

.hero-image { 
  background-size: 100%;
  background: url('https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1714&q=80');
}

.wrapper div {
   min-height: 100px;
   padding: 10px;
}

.footWrapper { 
  background-size: 100%;
  background: url('https://images.unsplash.com/photo-1497091071254-cc9b2ba7c48a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1653&q=80') repeat;

}
  #one {
  width: 100%;
  float:left; 
  margin-right:0px;
  width:auto;
  padding-left: 300px;
  padding-top: ;
  top: 50%;
    left: 50%;
    transform: translate(25%, 5%);
    text-align: left;
    color: white;
    font-weight: 500;
}

#two { 
  overflow:hidden;
  max-width: 500px;
  height: 430px;
  margin:60px;
  border:100px #ccc;
  min-width: height 100%;
  color: white;
  top: 50%;
    left: 50%;
    transform: translate(40%, 10%);
    text-align: left;
    color: white;
    font-weight: 500;
}/* Grid and flex Containters*/

.flexContainer {
  display: flex;
  background-color: lightslategrey;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.flexContainer > div {
  margin: 40px;
  padding: 5px;
  font-size: 15px;
  text-align: center;
}

.mySkills {
  justify-content: center;
  align-items: center;
  color: white;
}

.flex-container {
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
  /*width: 100%; */
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;

}

.workGrid { 
  padding: 30px; 
  /*text-align: center;*/
}
a.button8{
  display:inline-block;
  padding:0.2em 1.45em;
  margin:0.1em;
  border:0.15em solid #CCCCCC;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Segoe UI','Roboto',sans-serif;
  font-weight:400;
  color:#000000;
  background-color:#CCCCCC;
  text-align:center;
  position:relative;
}
  a.button8:hover{
  border-color:#7a7a7a;
}
  a.button8:active{
  background-color:#999999;
}

a.button5{
  display:inline-block;
  padding:0.46em 1.6em;
  border:0.1em solid #000000;
  margin:0 0.2em 0.2em 0;
  border: radius 0.15;em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color:#000000;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  background-color:#FFFFFF;
  text-align:center;
  transition: all 0.15s;
}
a.button5:hover{
  text-shadow: 0 0 2em rgba(255,255,255,1);
  color:#FFFFFF;
  border-color:black;
}
/*button {
  padding: 10px;
  border-radius: 3px;
}*/
.grid-container {
  justify-content: center;
  text-align: center;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 20px;
}

li{
  list-style-type: none;
  margin: 19px 2vw;
  font-size: 1.5vh;
  color: white;
}

a{
  text-decoration: none;
}

a{
  text-decoration: none;
  
  /*below I changed the color*/
  color: black;
  /*I added some padding*/
  padding: 2vw;
  /*also changed the font family but that's totally irrelevant*/
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a:hover{
  background-color: #1ea299;
}

view raw

nav{
  width: 100vw;
  background-color: #D6EFFF;
}

ul{
  margin: 0;
  padding: 0;
  display: flex;
}

body{
  margin: 0;
}

.switch {
  position:relative;
}
.switch>* {
  position:absolute;
  bottom:0
}
.switch :nth-child(2) {
  display:none;
  background-color:black;
  opacity: 75%;
  width:100%;
  height:79%;
}

.pencils {
  width :500px;
  height:390px;
}

.grid-title {
  font-size: 2rem;
  padding-bottom: 0.3rem;
}

.grid-caption {
  color: #FFFFFF;
  left: 50%;
  opacity: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  position: absolute;
  text-align: center;
  top: 80%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.grid-caption {
  color: #FFFFFF;
  left: 50%;
  opacity: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  position: absolute;
  text-align: center;
  top: 80%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.grid-title {
  font-size: 2rem;
  padding-bottom: 0.3rem;
}

.center {
  margin: auto;
  width: 60%;
  border: 3px solid white;
  padding: 0px;
  text-align: center;
  text-size-adjust: 20px;
}

/*side navigator*/
#myBtn:hover {
  background-color: #555;
  }

#topBtn {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 99;
  font-size: 15px;
  border: none;
  outline: none;
  background-color: #717abb;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  border-radius: 150px;
  }

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.75rem;
  }

  nav {
    padding-right: 100px;
  }

  .wrapper {
    width: 600px;
  }

  .heroimg {
    align-items: center;
  }

  #one {
    padding-right: 100px ;
  }

  #two {
    overflow:unset;
    height: 510px;
    margin: 98px;

  }

  .flexContainer {
    display: revert;
    width: 100%;
    padding: 10px;
  }

  .flexcontainer > div {
    padding:0px;
  }
  .flex-container {
    display: revert;
  }

  .grid-container {
    display: revert;
  }

  .workGrid {
    flex-direction: row;
    width: 100%;
    padding: 0px;
    text-align: center;
  }

  .mySkills {
    width: 600px;
  }

  .myWork {
    margin: auto;
    width: fit-content;
  }

  button {
    width: 200px;
    align-items: center;
    margin-bottom: 10px;
  }

  .column {
    margin-bottom: 0px;
    align-items: center;
  }

  h4 {
    padding-bottom: 0px;
  }

  #one {
    align-items: center;
    padding-left: 140px;
  }

  .flexContainer > div {
    margin: 40px;
    padding: 10px;
    font-size: 15px;
    text-align: center;
  }

  .grid-container {
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: 180px 180px 180px;
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 20px;
  }

  .grid-item {
    width: 175px;
  }

  a.button8{
   display:block;
   margin:0.2em auto;
  }
  a.button5{
    display:block;
    margin:0.4em auto;
  }
  
}
  /*Your CSS styles for your grid template are here */
  